In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/the-movies-dataset/ratings.csv
/kaggle/input/the-movies-dataset/links_small.csv
/kaggle/input/the-movies-dataset/credits.csv
/kaggle/input/the-movies-dataset/keywords.csv
/kaggle/input/the-movies-dataset/movies_metadata.csv
/kaggle/input/the-movies-dataset/ratings_small.csv
/kaggle/input/the-movies-dataset/links.csv

In [2]:
main=pd.read_csv("../input/the-movies-dataset/movies_metadata.csv")
credits=pd.read_csv("../input/the-movies-dataset/credits.csv")
keywords=pd.read_csv("../input/the-movies-dataset/keywords.csv")

/tmp/ipykernel_34/3759850992.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  main=pd.read_csv("../input/the-movies-dataset/movies_metadata.csv")

In [3]:
main.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0

In [4]:
credits.head(2)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844

In [5]:
keywords.head(2)

     id                                           keywords
0   862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...

In [6]:
data= pd.concat([main,credits,keywords],axis='columns')
data.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,cast,crew,id,id,keywords
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,NaN,Toy Story,False,7.7,5415.0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862.0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,..."

In [7]:
data[data.duplicated()]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,tagline,title,video,vote_average,vote_count,cast,crew,id,id,keywords
1465,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,105045,tt0111613,de,Das Versprechen,"East-Berlin, 1961, shortly after the erection ...",...,"A love, a hope, a wall.",The Promise,False,5.0,1.0,"[{'cast_id': 5, 'character': 'Sophie II', 'cre...","[{'credit_id': '52fe4a44c3a36847f81c463f', 'de...",105045.0,105045,"[{'id': 7059, 'name': 'anti-communism'}, {'id'..."
9165,False,NaN,0,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,5511,tt0062229,fr,Le SamouraÃ¯,Hitman Jef Costello is a perfectionist who alw...,...,There is no solitude greater than that of the ...,Le SamouraÃ¯,False,7.9,187.0,"[{'cast_id': 11, 'character': 'Jef Costello', ...","[{'credit_id': '52fe440ac3a36847f807ee01', 'de...",5511.0,5511,"[{'id': 90, 'name': 'paris'}, {'id': 1010, 'na..."
9327,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",NaN,23305,tt0295682,en,The Warrior,"In feudal India, a warrior (Khan) who renounce...",...,NaN,The Warrior,False,6.3,15.0,"[{'cast_id': 1, 'character': 'Lafcadia - Warri...","[{'credit_id': '52fe4465c3a368484e02091d', 'de...",23305.0,23305,[]
13375,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971.0,141971,[]
16764,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,141971,tt1180333,fi,Blackout,Recovering from a nail gun shot to the head an...,...,Which one is the first to return - memory or t...,Blackout,False,6.7,3.0,"[{'cast_id': 1, 'character': 'Pekka', 'credit_...","[{'credit_id': '52fe4ac89251416c750edd47', 'de...",141971.0,141971,[]

In [8]:
data= data.drop_duplicates()

In [9]:
data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count', 'cast', 'crew', 'id', 'id', 'keywords'],
      dtype='object')

In [10]:
data=data[["id","title","overview","genres","keywords","cast","crew"]]

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46414 entries, 0 to 46418
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45461 non-null  object
 1   id        45471 non-null  float64
 2   id        46414 non-null  int64
 3   title     45455 non-null  object
 4   overview  44507 non-null  object
 5   genres    45461 non-null  object
 6   keywords  46414 non-null  object
 7   cast      45471 non-null  object
 8   crew      45471 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.5+ MB

In [12]:
data=data.iloc[:10000,2:]
data.head(2)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[{'id': 16, 'name': 'Animation'}, {'id': 35, '...","[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...","[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...","[{'id': 10090, 'name': 'board game'}, {'id': 1...","[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."

In [13]:
data.describe(include='all')

,id,title,overview,genres,keywords,cast,crew
count,10000.000000,10000,9971,10000,10000,10000,10000
unique,NaN,9728,9958,1709,8005,9841,9949
top,NaN,Hamlet,No overview found.,"[{'id': 18, 'name': 'Drama'}]",[],[],[]
freq,NaN,4,11,927,1442,160,52
mean,32243.945900,NaN,NaN,NaN,NaN,NaN,NaN
std,41314.786555,NaN,NaN,NaN,NaN,NaN,NaN
min,2.000000,NaN,NaN,NaN,NaN,NaN,NaN
25%,10321.500000,NaN,NaN,NaN,NaN,NaN,NaN
50%,20399.500000,NaN,NaN,NaN,NaN,NaN,NaN
75%,40917.000000,NaN,NaN,NaN,NaN,NaN,NaN
max,445590.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
data.isna().sum()

id           0
title        0
overview    29
genres       0
keywords     0
cast         0
crew         0
dtype: int64

In [15]:
data= data.dropna()
data.isna().sum()

id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [16]:
import ast
def convert (obj):
    l=[]
    for i in ast.literal_eval(obj):
        l.append(i['name'])
    return l

In [17]:
data['genres']= data['genres'].apply(convert)
data['keywords']= data['keywords'].apply(convert)

In [18]:
def convert3(obj):
    l=[]
    c=0
    for i in ast.literal_eval(obj):
        if c!=3:
            l.append(i['name'])
        else:
            break
    return l

In [19]:
data['cast']= data['cast'].apply(convert3)

In [20]:
def fetch_director(obj):
    l=[]
    for i in ast.literal_eval(obj):
        if i['job']== 'Director':
            l.append(i['name'])
            break
    return l

In [21]:
data['crew']= data['crew'].apply(fetch_director)

In [22]:
data.head(3)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"Led by Woody, Andy's toys live happily in his ...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...",[John Lasseter]
1,8844,Jumanji,When siblings Judy and Peter discover an encha...,"[Adventure, Fantasy, Family]","[board game, disappearance, based on children'...","[Robin Williams, Jonathan Hyde, Kirsten Dunst,...",[Joe Johnston]
2,15602,Grumpier Old Men,A family wedding reignites the ancient feud be...,"[Romance, Comedy]","[fishing, best friend, duringcreditsstinger, o...","[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...",[Howard Deutch]

In [23]:
 data['overview']= data['overview'].apply(lambda x:x.split())

In [24]:
data['genres']= data['genres'].apply(lambda x:[i.replace(" ","")for i in x])
data['keywords']= data['keywords'].apply(lambda x:[i.replace(" ","")for i in x])
data['cast']= data['cast'].apply(lambda x:[i.replace(" ","")for i in x])
data['crew']= data['crew'].apply(lambda x:[i.replace(" ","")for i in x])

In [25]:
data.head(2)

,id,title,overview,genres,keywords,cast,crew
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,...","[Animation, Comedy, Family]","[jealousy, toy, boy, friendship, friends, riva...","[TomHanks, TimAllen, DonRickles, JimVarney, Wa...",[JohnLasseter]
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a...","[Adventure, Fantasy, Family]","[boardgame, disappearance, basedonchildren'sbo...","[RobinWilliams, JonathanHyde, KirstenDunst, Br...",[JoeJohnston]

In [26]:
data['tag']= data['overview']+data['genres']+data['keywords']+data['cast']+data['crew']
new_df= data[['id', 'title', 'tag']]
new_df.head()

,id,title,tag
0,862,Toy Story,"[Led, by, Woody,, Andy's, toys, live, happily,..."
1,8844,Jumanji,"[When, siblings, Judy, and, Peter, discover, a..."
2,15602,Grumpier Old Men,"[A, family, wedding, reignites, the, ancient, ..."
3,31357,Waiting to Exhale,"[Cheated, on,, mistreated, and, stepped, on,, ..."
4,11862,Father of the Bride Part II,"[Just, when, George, Banks, has, recovered, fr..."

In [27]:
new_df['tag']= new_df['tag'].apply(lambda x:" ".join(x))

/tmp/ipykernel_34/2722678726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']= new_df['tag'].apply(lambda x:" ".join(x))

In [28]:
new_df['tag']= new_df['tag'].apply(lambda x:x.lower())

/tmp/ipykernel_34/975758449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']= new_df['tag'].apply(lambda x:x.lower())

In [29]:
new_df.head(2)

     id      title                                                tag
0   862  Toy Story  led by woody, andy's toys live happily in his ...
1  8844    Jumanji  when siblings judy and peter discover an encha...

In [30]:
from nltk.stem.porter import PorterStemmer
ps= PorterStemmer ()

In [31]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [32]:
new_df['tag']= new_df['tag'].apply(stem)

/tmp/ipykernel_34/1682945979.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']= new_df['tag'].apply(stem)

In [33]:
new_df.tail()

,id,title,tag
9998,21325,Onmyoji: The Yin Yang Master,"dure a dark time in the heian period, when evi..."
9999,13409,State Property 2,three gangster vie for control of the street o...
10000,14287,The Year of the Yao,the year of the yao is a documentari film tell...
10001,24363,House of D,an american artist live a bohemian exist in pa...
10002,13073,Palindromes,"aviva is thirteen, awkward and sensitive. her ..."

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.preprocessing import MinMaxScaler

In [35]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from nltk.stem import PorterStemmer

# Assuming `data` is your DataFrame and `new_df` is defined properly

# Initialize the vectorizer and the stemmer
tfidf_vectorizer = TfidfVectorizer()
ps = PorterStemmer()

# Stemming function
def stem(text):
    return ' '.join([ps.stem(word) for word in text.split()])

# Combine text fields
data['combined_text'] = data['title'] + ' ' + data['tag'].apply(lambda x: ' '.join(x))

# Fit the TF-IDF vectorizer
tag_matrix = tfidf_vectorizer.fit_transform(data['combined_text'])
feature_matrix = tag_matrix

# Get user input and process it
user_tag = input("Enter movie name or anything related to the movie: ").lower()
user_tag = stem(user_tag)
user_vector = tfidf_vectorizer.transform([user_tag])
user_feature = user_vector

# Calculate cosine similarities
similarities = cosine_similarity(user_feature, feature_matrix)

# Get top recommendations
top_indices = similarities.argsort(axis=1)[:, -10:][0][::-1]
top_recommendations = data.iloc[top_indices]['title']

# Print recommendations
print("Top Recommendations: ")
for i, title in enumerate(top_recommendations):
    print(f"{i+1}. {title}")

Enter movie name or anything related to the movie:  batman

Top Recommendations:
1. Batman Returns
2. Batman & Mr. Freeze: SubZero
3. Batman: Mask of the Phantasm
4. Batman Forever
5. The Batman Superman Movie: World's Finest
6. Batman & Robin
7. Batman
8. Batman
9. Batman Beyond: Return of the Joker
10. Heart and Souls

In [36]:
import pickle
pickle_data= {
    'data': new_df,
    'model': tfidf_vectorizer,
    'res': tag_matrix
}
with open ('movie.pkl', 'wb') as file:
    pickle.dump(pickle_data, file)
    
print("saved")

saved